<div class="Surround">
    <div class="container">
        <div class="content">
            <div class="Olive" style="background-image: url(/images/olive.png)"></div>
            <p class="font-serif">We're getting married!</p>
            <h2 class="font-serif">September 19, 2020</h2>
            <p class="font-serif" style="margin:-0.8em 0 0.9em 0">
                <a href="https://goo.gl/maps/W7Fx4BSjTbgpr1J87">The Ivy Place</a>
                <br>
                Lancaster, South Carolina
            </p>
            <div class="Olive" style="background-image: url(/images/olive.png)"></div>
        </div>
    </div>
</div>
