<div class="Surround">
    <div class="container">
        <div class="content">
            <div class="background-image" style="background-image: url(https://cdn1.weddingwire.com/assets/img/wedsites/hero/olive-branches-bg-small.jpg)"></div>
            <p class="font-serif">We're getting married!</p>
            <h2 class="font-serif">September 19, 2020</h2>
            <p class="font-serif">Salisbury, North Carolina</p>
            <div class="background-image" style="background-image: url(https://cdn1.weddingwire.com/assets/img/wedsites/hero/olive-branches-bg-small.jpg)"></div>
        </div>
    </div>
</div>
