<header class="Header">
  <div class="Header-logotype font-serif">
    <div class="container">
      <span class="">I</span>
      <span class="Header-logotype-ampersand ">&amp;</span>
      <span class="">S</span>
    </div>
  </div>
  {# <p>{{ title }}</p> #}
  {# {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %} #}
</header>
<button class="NavMobileToggle js-navMobileToggle">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>
<div class="Nav js-nav">
  <div class="container">
    <div class="Nav-mobileMenuHeader">
      Menu
    </div>
    <ul class="Nav-list">
      <li class="Nav-list-item">
        <a href="/">home</a>
      </li>
      <li class="Nav-list-item">
        <a href="/accommodations">accommodations</a>
      </li>
      <li class="Nav-list-item">
        <a href="/rsvp">RSVP</a>
      </li>
    </ul>
  </div>
</div>
