<header>
  <div class="container">
    <ul class="nav">
      <li>
        <a href="/">home<small>where the heart is</small></a>
      </li>
      <li>
        <a href="/about">about<small>all about this</small></a>
      </li>
    </ul>
    {# <p>{{ title }}</p> #}
    {# {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %} #}
  </div>
</header>
