<div class="Hero" style="background-image: url(https://cdn1.weddingwire.com/assets/img/wedsites/hero/olive-branches-header.jpg)">
  <div class="container">
    <h1><span class="font-cursive">Ivan</span> <span class="font-serif" style="padding-left: .1em">&amp;</span> <span class="font-cursive">Stacy</span></h1>
  </div>
</div>
