{% macro render(imageUrl) %}
<div class="Hero" style="background-image: url({{ imageUrl }})">
  <div class="container">
    <h1><span class="font-cursive">Ivan</span> <span class="font-serif" style="padding-left: .1em">&amp;</span> <span class="font-cursive">Stacy</span></h1>
  </div>
</div>
{% endmacro %}