<div class="Hero" style="background-image: url(https://cdn1.weddingwire.com/assets/img/wedsites/hero/olive-branches-header.jpg)">
  <div class="container">
    <h1 class="font-cursive">Ivan & Stacy</h1>
  </div>
</div>
