<div class="card-image" style="background-image: url('https://www.choicehotels.com/hotelmedia/US/SC/rock-hill/SC287/1280/Exterior2.JPG')"></div>
<h2 class="card-title">Comfort Suites</h2>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.choicehotels.com/south-carolina/rock-hill/comfort-suites-hotels/sc287">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-803-326-3300">(803) 326-3300</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://goo.gl/maps/jnmg66uCyjF5eSAk7">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=1323%20Old%20Springdale%20Rd,%20Rock%20Hill,%20SC%20%2029730,%20United%20States&auid=18027885420893980101&ll=34.937674,-80.966441&lsp=9902&q=Comfort%20Suites&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiQpKc36Reh3QUAxQzxlHuw9VMA5dZE1JSN4QUBBwcMaNsg9VMA%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
