<div class="card-image" style="background-image: url('https://www.choicehotels.com/hotelmedia/US/NC/salisbury/NC325/1280/NC325exterior4_1.jpg')"></div>
<h2 class="card-title">Comfort Suites</h2>
<p class="card-description">
    No special rate or reserved block.
</p>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.choicehotels.com/north-carolina/salisbury/comfort-suites-hotels/nc325">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-704-630-0065">(704) 630-0065</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://goo.gl/maps/vNn1nVAqyhTtFfSH9">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=1040%20E%20Innes%20St,%20Salisbury,%20NC%20%2028144,%20United%20States&auid=10198203370186061303&ll=35.660186,-80.456502&lsp=9902&q=Comfort%20Suites&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYp8pzjg+/TQUAxG9wOo5EdVMA5cHIJ4BXVQUBBNS9gfdwcVMBQAw%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
