<div class="card-image" style="background-image: url('https://www.wyndhamhotels.com/content/dam/property-images/en-us/di/us/nc/salisbury/14991/14991_exterior_view_1.jpg?crop=3000:2000;*,*&downsize=600:*')"></div>
<h2 class="card-title">Days Inn by Wyndham</h2>
<p class="card-description">
    No special rate or reserved block.
</p>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.wyndhamhotels.com/days-inn/salisbury-north-carolina/days-inn-salisbury-nc/overview">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-704-762-1938">(704) 762-1938</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://goo.gl/maps/2eWEpKhJDEo4j7xs6">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=321%20Bendix%20Dr,%20Salisbury,%20NC%20%2028146,%20United%20States&auid=11487769642391873657&ll=35.654617,-80.461453&lsp=9902&q=Days%20Inn&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYpDoaVVjnTQUAxntJF8uodVMA5jFu7sl/UQUBBhpTRzzUdVMBQAw%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
