<div class="card-image" style="background-image: url('https://images.trvl-media.com/hotels/1000000/20000/10400/10348/7c7d51e8_z.jpg')"></div>
<h2 class="card-title">Hampton Inn</h2>
<p class="card-description">
    No special rate or reserved block.
</p>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.hilton.com/en/hotels/slbjahx-hampton-salisbury">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-704-637-8000">(704) 637-8000</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://goo.gl/maps/R68t3eCEh1kyXf838">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=1001%20Klumac%20Rd,%20Salisbury,%20NC%20%2028147,%20United%20States&auid=9553076015754948972&ll=35.642231,-80.484909&lsp=9902&q=Hampton%20Inn%20Salisbury&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYpzh1Y2p/RQUAxCNYiXmMfVMA5TPN9NsbSQUBB2F3vQq4eVMBQAw%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
