<div class="card-image" style="background-image: url('https://www.hilton.com/im/en/RCKSCHX/9345300/exteriorday.jpg?impolicy=crop&cw=5376&ch=3010&gravity=NorthWest&xposition=265&yposition=156&rw=768&rh=430')"></div>
<h2 class="card-title">Hampton Inn</h2>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.hilton.com/en/hotels/rckschx-hampton-rock-hill">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-704-637-8000">(803) 325-1100</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://g.page/hampton-inn-rock-hill?share">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=2111%20Tabor%20Dr,%20Rock%20Hill,%20SC%20%2029730,%20United%20States&auid=7003508833685275983&ll=34.943371,-80.972366&lsp=9902&q=Hampton%20Inn%20Rock%20Hill&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYpSOu5hzB4QUAxlh9zcpI+VMA5xsDf41Z5QUBBqNC+5d49VMBQAw%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
