<div class="card-image" style="background-image: url('https://ihg.scene7.com/is/image/ihg/holiday-inn-rock-hill-2532652365-2x1?wid=720&hei=360&qlt=85,0&resMode=sharp2&op_usm=1.75,0.9,2,0&qlt=85,0&resMode=sharp2&op_usm=1.75,0.9,2,0')"></div>
<h2 class="card-title">Holiday Inn</h2>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.ihg.com/holidayinn/hotels/us/en/rock-hill/clthi/hoteldetail">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-803-323-1900">(803) 323-1900</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://g.page/Holiday-Inn-Rock-Hill?share">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=503%20Galleria%20Blvd,%20Rock%20Hill,%20SC%20%2029730,%20United%20States&auid=9441741203020394730&ll=34.944914,-80.968479&lsp=9902&q=Holiday%20Inn%20Rock%20Hill&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYpDBNX0GB4QUAxIfP/31A+VMA5iuh8LId5QUBBLy94Up09VMBQAw%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
