<div class="card-image" style="background-image: url('https://ihg.scene7.com/is/image/ihg/holiday-inn-express-and-suites-salisbury-5380570313-2x1?wid=600&hei=300&qlt=85,0&resMode=sharp2&op_usm=1.75,0.9,2,0')"></div>
<h2 class="card-title">Holiday Inn Express &amp; Suites</h2>
<p class="card-description">
    No special rate or reserved block. Newly renovated.
</p>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.ihg.com/holidayinnexpress/hotels/us/en/salisbury/srwes/hoteldetail">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-704-314-4100">(704) 314-4100</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://goo.gl/maps/7UehY7jEEGXwS5pr8">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=125%20Marriot%20Cir,%20Salisbury,%20NC%20%2028144,%20United%20States&auid=6642512256041268056&ll=35.657822,-80.461514&lsp=9902&q=Holiday%20Inn%20Express%20%26%20Suites%20Salisbury&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYpvbieI57TQUAxzFhP4uIdVMA5O47Ef8TUQUBBLNsRvi0dVMBQBA%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
