<div class="card-image" style="background-image: url('https://www.hilton.com/im/en/RKHBDHT/9164762/home2-rock-hill-kevin.jpg?impolicy=crop&cw=6144&ch=3440&gravity=NorthWest&xposition=165&yposition=112&rw=768&rh=430')"></div>
<h2 class="card-title">Home2 Suites by Hilton</h2>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.hilton.com/en/hotels/rkhbdht-home2-suites-rock-hill/">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-803-980-6000">(803) 980-6000</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://goo.gl/maps/2Zf6GaZiVWdyCFtw6">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=1285%20Old%20Springdale%20Rd,%20Rock%20Hill,%20SC%20%2029730,%20United%20States&auid=11121788472173063014&ll=34.936643,-80.965218&lsp=9902&q=Home2%20Suites%20by%20Hilton%20Rock%20Hill&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYpW3EWjFF3QUAxO68Lvh4+VMA52UY86Hd4QUBBqbknNWs9VMBQAw%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
