<div class="card-image" style="background-image: url('https://www.wyndhamhotels.com/content/dam/property-images/en-us/hj/us/sc/rock-hill/02345/02345_exterior_day_1.jpg?downsize=720:*')"></div>
<h2 class="card-title">Howard Johnson by Wyndham</h2>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.wyndhamhotels.com/hojo/rock-hill-south-carolina/howard-johnson-inn-rock-hill/overview">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-803-757-4525">(803) 757-4525</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://goo.gl/maps/AkkyhptbcBb8jHKm8">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=911%20Riverview%20Rd,%20Rock%20Hill,%20SC%20%2029730,%20United%20States&auid=16247188279297951364&ll=34.969814,-80.987486&lsp=9902&q=Howard%20Johnson&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYpZS4VsY97QUAxJjo4xow/VMA54wM7DbZ8QUBB3Ga9Ktk+VMBQAw%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
