<div class="card-image" style="background-image: url('https://photos.hotelbeds.com/giata/original/25/251888/251888a_hb_a_067.jpg')"></div>
<h2 class="card-title">Courtyard by Marriott</h2>
<p class="card-description">
    We have a special rate of $119 per night, plus a 13% tax. Please book before August 13 to ensure availability.
</p>
<div class="card-links">
    <div class="leftAndRight">
        <div class="left">
            <a class="left" href="https://www.marriott.com/hotels/travel/cltsb-courtyard-salisbury/">Hotel Website</a>
        </div>
        <span class="middle pipe-spacer">|</span> 
        <div class="right">
            <a href="tel:+1-704-680-9201">(704) 680-9201</a>
        </div>
    </div>
    <div class="leftAndRight">
        <div class="left">
            <a href="https://goo.gl/maps/VHW3TYexjjY9fzZT7">Google Maps</a>
        </div>
        <span class="middle pipe-spacer">|</span>
        <div class="right">
            <a href="https://maps.apple.com/?address=120%20Marriott%20Cir,%20Salisbury,%20NC%20%2028144-2636,%20United%20States&auid=725302051922116563&ll=35.658304,-80.462481&lsp=9902&q=Courtyard%20by%20Marriott%20Salisbury&_ext=ChkKBQgEEOIBCgQIBRADCgQIBhALCgQIChAAEiYppOmiyKvTQUAxIHL53fIdVMA5Ir/IJNLUQUBBSg5+uT0dVMBQAw%3D%3D&t=m">Apple Maps</a>
        </div>
    </div>
</div>
