.Header {
  background-color: $headerFooterColor;
  height: 4rem; /* TODO */

  @media (min-width: $mid) {
    display: block;
  }

  &-logotype {
    display: flex;
    height: 100%;
    padding: 0 1em 0.2em;
    align-items: center;

    font-size: 1.75rem;
    user-select: none;

    @media (min-width: $mid) {
      padding: 0.5rem 0 0;
      justify-content: center;
    }

    &-ampersand {
      opacity: 0.5;
      margin: 0 0.25em;
    }
  }
}

.Nav {
  position: sticky;
  top: 0;
  padding: 0;
  background-color: $headerFooterColor;
  z-index: 1;

  @media (min-width: $mid) {
    padding: 1rem 0;
  }

  &-mobileMenuHeader {
    display: none;
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      display: inline;
      font-size: 18px;

      a:link,
      a:visited {
        font-family: $font-serif serif;
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 1px solid transparent;
        padding: 0 0.8em;
        margin: 0 0.7em 0 0;
        text-align: left;
        color: mix($text-color, $accent-color, 80%);
        text-decoration: none;
        transition: border-bottom-color 200ms;
      }
      a:hover,
      a:focus {
        color: $text-color;
        border-bottom-color: $text-color;
      }
      a.active {
        color: #929a54;
        border-bottom: 1px solid #929a54;
      }
    }
  }

  @media (max-width: $midMax) {
    position: fixed;
    height: 100%;
    left: 100%;
    width: calc(100% - 6em);
    transition: transform 250ms ease-out, box-shadow 250ms ease;

    &-mobileMenuHeader {
      display: flex;
      height: 4rem;
      align-items: center;
      font-family: $font-serif serif;
      padding-left: 7%;
      border-bottom: 1px solid #d1d1ca;
    }

    &-list {
      display: block;
      padding-left: 0;
      padding-left: 7%;

      &-item {
        display: block;
        text-align: left;

        a:link,
        a:visited {
          padding: 0.7em 0 0;
        }
      }
    }

    &.is-open {
      transform: translateX(-100%);
      box-shadow: -3px 6px 36px 11px rgba(77, 66, 44, 0.51);
    }
  }
}

.NavMobileToggle {
  /* browser button style reset */
  border: none;
  border-radius: 0.1em;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: visible;
  text-transform: none;
  box-sizing: content-box;
  transition: background-color 250ms ease;

  display: none;
  background-color: $headerFooterColor;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    background-color: color($headerFooterColor lightness(-10%));
  }

  @media (max-width: #{$midMax}) {
    position: absolute;
    display: block;
    top: 0.5rem;
    right: 0.5rem;
    width: 1em;
    height: 1em;
    padding: 1rem;
    z-index: 2;
  }

  span {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    opacity: 1;
    left: 20%;
    right: 20%;
    display: block;
    position: absolute;

    &:nth-child(1) {
      top: 25%;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 48%;
    }
    &:nth-child(4) {
      top: 70%;
    }
  }

  &.is-open span {
    &:nth-child(1),
    &:nth-child(4) {
      top: 48%;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}
