.Hero {
  display: flex;
  height: 20em;

  @media (min-width: $mid) {
    height: 24em;
  }
  @media (min-width: $wide) {
    height: 30em;
  }

  background: #ccc;

  background-size: cover;

  > .container {
    display: flex;
    align-items: center;
    justify-content: center;

    > h1 {
      font-size: 3em;
      color: white;
      user-select: none;
    }
  }
}
